USE [SAFARI_WEB]
GO
/****** Object:  User [jairocalle4_SQLLogin_1]    Script Date: 27/01/2026 15:09:24 ******/
CREATE USER [jairocalle4_SQLLogin_1] FOR LOGIN [jairocalle4_SQLLogin_1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [jairocalle4_SQLLogin_1]
GO
/****** Object:  Schema [jairocalle4_SQLLogin_1]    Script Date: 27/01/2026 15:09:24 ******/
CREATE SCHEMA [jairocalle4_SQLLogin_1]
GO
/****** Object:  Table [dbo].[ArqueoCaja]    Script Date: 27/01/2026 15:09:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArqueoCaja](
	[IdArqueo] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Turno] [tinyint] NULL,
	[IdEncargado] [int] NOT NULL,
	[SaldoInicial] [decimal](10, 2) NULL,
	[TotalVentas] [decimal](10, 2) NULL,
	[TotalEgresos] [decimal](10, 2) NULL,
	[GananciaNeta] [decimal](10, 2) NULL,
	[ResultadoEsperado] [decimal](10, 2) NULL,
	[EfectivoTotal] [decimal](10, 2) NULL,
	[UtilidadDia] [decimal](10, 2) NULL,
	[Observaciones] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdArqueo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 27/01/2026 15:09:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 27/01/2026 15:09:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 27/01/2026 15:09:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 27/01/2026 15:09:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 27/01/2026 15:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 27/01/2026 15:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[EsActivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 27/01/2026 15:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[CedulaRuc] [nvarchar](13) NULL,
	[Telefono] [nvarchar](10) NULL,
	[Direccion] [nvarchar](200) NULL,
	[Email] [nvarchar](150) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfiguracionEmpresa]    Script Date: 27/01/2026 15:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionEmpresa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreComercial] [nvarchar](200) NOT NULL,
	[RUC] [nvarchar](13) NOT NULL,
	[Direccion] [nvarchar](300) NOT NULL,
	[Telefono] [nvarchar](15) NULL,
	[Email] [nvarchar](150) NULL,
	[MensajeLegal] [nvarchar](300) NULL,
	[FechaRegistro] [datetime] NULL,
	[AutorizacionSRI] [varchar](50) NULL,
	[Establecimiento] [varchar](3) NOT NULL,
	[PuntoEmision] [varchar](3) NOT NULL,
	[SecuencialActual] [int] NOT NULL,
	[FechaCaducidadAutorizacion] [date] NULL,
	[RazonSocial] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleEfectivo]    Script Date: 27/01/2026 15:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleEfectivo](
	[IdDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdArqueo] [int] NOT NULL,
	[Denominacion] [decimal](5, 2) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Total]  AS ([Denominacion]*[Cantidad]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleEntradaInventarios]    Script Date: 27/01/2026 15:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleEntradaInventarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntradaInventarioId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[CostoUnitario] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVentas]    Script Date: 27/01/2026 15:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[PrecioUnitarioVenta] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EgresoGasto]    Script Date: 27/01/2026 15:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EgresoGasto](
	[IdEgreso] [int] IDENTITY(1,1) NOT NULL,
	[IdArqueo] [int] NULL,
	[Descripcion] [varchar](100) NULL,
	[Monto] [decimal](18, 2) NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEgreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 27/01/2026 15:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Cargo] [varchar](50) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntradaInventarios]    Script Date: 27/01/2026 15:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntradaInventarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaEntrada] [datetime] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[Observacion] [varchar](255) NULL,
	[TotalProductos] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoImagenes]    Script Date: 27/01/2026 15:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoImagenes](
	[IdImagen] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[UrlImagen] [nvarchar](max) NOT NULL,
	[Orden] [int] NULL,
	[EsPortada] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdImagen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 27/01/2026 15:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[Stock] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[EsActivo] [bit] NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[SubcategoriaId] [int] NULL,
	[FotoUrl] [nvarchar](255) NULL,
	[Costo] [decimal](18, 2) NOT NULL,
	[UrlVideo] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subcategorias]    Script Date: 27/01/2026 15:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subcategorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[EsActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Subcategorias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VentaIngreso]    Script Date: 27/01/2026 15:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentaIngreso](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdArqueo] [int] NOT NULL,
	[Categoria] [varchar](50) NULL,
	[Monto] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 27/01/2026 15:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaVenta] [datetime] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[Observacion] [varchar](255) NULL,
	[ClienteId] [int] NULL,
	[NumeroNota] [nvarchar](50) NULL,
	[EsAnulada] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'73e39fb8-c826-4a64-991d-b1dfdf01cbda', N'jairocalle4@gmail.com', 0, N'AAWyw4UDWzM5m7Bhwcrb9z8OhSSwLPopcso3wCbJ9gAnbHwVbjsCw2fZI2GpJHQn3Q==', N'a4cee58d-68e3-4f1c-9225-172d33af0bd6', NULL, 0, 0, NULL, 1, 0, N'jairocalle4@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Nombre], [EsActivo]) VALUES (2, N'LIBRERIA', 1)
INSERT [dbo].[Categorias] ([Id], [Nombre], [EsActivo]) VALUES (3, N'TINTAS', 1)
INSERT [dbo].[Categorias] ([Id], [Nombre], [EsActivo]) VALUES (5, N'CÁMARAS', 1)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [Nombre], [CedulaRuc], [Telefono], [Direccion], [Email], [FechaRegistro]) VALUES (1, N'CONSUMIDOR FINAL', N'9999999999', N'N/A', N'La Troncal', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[ConfiguracionEmpresa] ON 

INSERT [dbo].[ConfiguracionEmpresa] ([Id], [NombreComercial], [RUC], [Direccion], [Telefono], [Email], [MensajeLegal], [FechaRegistro], [AutorizacionSRI], [Establecimiento], [PuntoEmision], [SecuencialActual], [FechaCaducidadAutorizacion], [RazonSocial]) VALUES (1, N'JC TECH', N'0929433514001', N'Calle Manabi y El Artesano', N'0991693863', N'jairocalle4@gmail.com', N'Contribuyente Negocio Popular – Régimen RIMPE.', CAST(N'2026-01-05T13:02:43.613' AS DateTime), N'9999999999', N'001', N'001', 10, CAST(N'2025-11-17' AS Date), N'Jairo Leonardo Calle Maldonado')
SET IDENTITY_INSERT [dbo].[ConfiguracionEmpresa] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleVentas] ON 

INSERT [dbo].[DetalleVentas] ([Id], [VentaId], [ProductoId], [Cantidad], [Subtotal], [PrecioUnitarioVenta]) VALUES (1, 1, 23, 1, CAST(5.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleVentas] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([IdEmpleado], [Nombre], [Cargo], [Estado]) VALUES (1, N'Jairo Calle', N'Administrador', 1)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductoImagenes] ON 

INSERT [dbo].[ProductoImagenes] ([IdImagen], [IdProducto], [UrlImagen], [Orden], [EsPortada]) VALUES (3, 4, N'https://res.cloudinary.com/ddw9fdcnt/image/upload/v1767796781/1GSM41-_fznbww.png', 3, 0)
INSERT [dbo].[ProductoImagenes] ([IdImagen], [IdProducto], [UrlImagen], [Orden], [EsPortada]) VALUES (4, 4, N'https://res.cloudinary.com/ddw9fdcnt/image/upload/v1767797108/3bb7afccd1c3e2b67e4a2020dde840e4548a87df_original_pmrhz5.jpg', 4, 0)
INSERT [dbo].[ProductoImagenes] ([IdImagen], [IdProducto], [UrlImagen], [Orden], [EsPortada]) VALUES (5, 4, N'https://res.cloudinary.com/ddw9fdcnt/image/upload/v1767797108/525745944_1466721571149698_6996934762023862895_n_pr0jgc.jpg', 5, 0)
SET IDENTITY_INSERT [dbo].[ProductoImagenes] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Nombre], [CategoriaId], [Stock], [Precio], [FechaCreacion], [EsActivo], [Descripcion], [SubcategoriaId], [FotoUrl], [Costo], [UrlVideo]) VALUES (4, N'Camara Doble Lente Exterior', 5, 1, CAST(55.00 AS Decimal(10, 2)), CAST(N'2026-01-06T14:32:27.300' AS DateTime), 1, N'IP66
', 9, N'https://res.cloudinary.com/ddw9fdcnt/image/upload/v1767796781/1GSM41-_fznbww.png', CAST(25.00 AS Decimal(18, 2)), N'https://www.youtube.com/shorts/ck3gpHfF84M')
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Subcategorias] ON 

INSERT [dbo].[Subcategorias] ([Id], [Nombre], [CategoriaId], [EsActivo]) VALUES (1, N'EPSON', 3, 1)
INSERT [dbo].[Subcategorias] ([Id], [Nombre], [CategoriaId], [EsActivo]) VALUES (4, N'HP', 3, 1)
INSERT [dbo].[Subcategorias] ([Id], [Nombre], [CategoriaId], [EsActivo]) VALUES (5, N'CANON', 3, 1)
SET IDENTITY_INSERT [dbo].[Subcategorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([Id], [FechaVenta], [EmpleadoId], [Total], [Observacion], [ClienteId], [NumeroNota], [EsAnulada]) VALUES (1, CAST(N'2026-01-22T09:56:39.557' AS DateTime), 1, CAST(5.00 AS Decimal(10, 2)), NULL, 1, N'001-001-000000010', 0)
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__75E3EFCF79F1EDBE]    Script Date: 27/01/2026 15:09:28 ******/
ALTER TABLE [dbo].[Categorias] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Producto__75E3EFCF7ECEB96D]    Script Date: 27/01/2026 15:09:28 ******/
ALTER TABLE [dbo].[Productos] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArqueoCaja] ADD  DEFAULT ((0)) FOR [SaldoInicial]
GO
ALTER TABLE [dbo].[ArqueoCaja] ADD  DEFAULT ((0)) FOR [TotalVentas]
GO
ALTER TABLE [dbo].[ArqueoCaja] ADD  DEFAULT ((0)) FOR [TotalEgresos]
GO
ALTER TABLE [dbo].[ArqueoCaja] ADD  DEFAULT ((0)) FOR [GananciaNeta]
GO
ALTER TABLE [dbo].[ArqueoCaja] ADD  DEFAULT ((0)) FOR [ResultadoEsperado]
GO
ALTER TABLE [dbo].[ArqueoCaja] ADD  DEFAULT ((0)) FOR [EfectivoTotal]
GO
ALTER TABLE [dbo].[ArqueoCaja] ADD  DEFAULT ((0)) FOR [UtilidadDia]
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ConfiguracionEmpresa] ADD  DEFAULT ('Contribuyente Régimen RIMPE – Negocio Popular') FOR [MensajeLegal]
GO
ALTER TABLE [dbo].[ConfiguracionEmpresa] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ConfiguracionEmpresa] ADD  CONSTRAINT [DF_Config_Establecimiento]  DEFAULT ('001') FOR [Establecimiento]
GO
ALTER TABLE [dbo].[ConfiguracionEmpresa] ADD  CONSTRAINT [DF_Config_PuntoEmision]  DEFAULT ('001') FOR [PuntoEmision]
GO
ALTER TABLE [dbo].[ConfiguracionEmpresa] ADD  CONSTRAINT [DF_Config_SecuencialActual]  DEFAULT ((0)) FOR [SecuencialActual]
GO
ALTER TABLE [dbo].[DetalleVentas] ADD  DEFAULT ((0.00)) FOR [PrecioUnitarioVenta]
GO
ALTER TABLE [dbo].[EgresoGasto] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Empleado] ADD  DEFAULT ('Encargado') FOR [Cargo]
GO
ALTER TABLE [dbo].[Empleado] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[EntradaInventarios] ADD  DEFAULT (getdate()) FOR [FechaEntrada]
GO
ALTER TABLE [dbo].[EntradaInventarios] ADD  DEFAULT ((0)) FOR [TotalProductos]
GO
ALTER TABLE [dbo].[ProductoImagenes] ADD  DEFAULT ((0)) FOR [Orden]
GO
ALTER TABLE [dbo].[ProductoImagenes] ADD  DEFAULT ((0)) FOR [EsPortada]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Costo]
GO
ALTER TABLE [dbo].[Subcategorias] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((0)) FOR [EsAnulada]
GO
ALTER TABLE [dbo].[ArqueoCaja]  WITH CHECK ADD FOREIGN KEY([IdEncargado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[DetalleEfectivo]  WITH CHECK ADD FOREIGN KEY([IdArqueo])
REFERENCES [dbo].[ArqueoCaja] ([IdArqueo])
GO
ALTER TABLE [dbo].[DetalleEntradaInventarios]  WITH CHECK ADD FOREIGN KEY([EntradaInventarioId])
REFERENCES [dbo].[EntradaInventarios] ([Id])
GO
ALTER TABLE [dbo].[DetalleEntradaInventarios]  WITH CHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH NOCHECK ADD FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH NOCHECK ADD FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([Id])
GO
ALTER TABLE [dbo].[EgresoGasto]  WITH CHECK ADD FOREIGN KEY([IdArqueo])
REFERENCES [dbo].[ArqueoCaja] ([IdArqueo])
GO
ALTER TABLE [dbo].[EntradaInventarios]  WITH CHECK ADD FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[ProductoImagenes]  WITH CHECK ADD  CONSTRAINT [FK_ProductoImagenes_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductoImagenes] CHECK CONSTRAINT [FK_ProductoImagenes_Productos]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Subcategorias] FOREIGN KEY([SubcategoriaId])
REFERENCES [dbo].[Subcategorias] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Subcategorias]
GO
ALTER TABLE [dbo].[Subcategorias]  WITH CHECK ADD  CONSTRAINT [FK_Subcategorias_Categorias] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorias] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subcategorias] CHECK CONSTRAINT [FK_Subcategorias_Categorias]
GO
ALTER TABLE [dbo].[VentaIngreso]  WITH CHECK ADD FOREIGN KEY([IdArqueo])
REFERENCES [dbo].[ArqueoCaja] ([IdArqueo])
GO
ALTER TABLE [dbo].[Ventas]  WITH NOCHECK ADD FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes]
GO
ALTER TABLE [dbo].[ArqueoCaja]  WITH CHECK ADD CHECK  (([Turno]=(2) OR [Turno]=(1)))
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_Stock] CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_Productos_Stock]
GO
